<div class="span6">
	<div class="well well-small">
		<h2>Customers</h2>
		<%= link_to 'New Customer', new_customer_path, class:"pull-right" %>
		<%= customer_table_for @customers %>
	</div>
</div>
<div class="span6">
	<div class="well well-small">
		<h2>Orders</h2>
		<%= table_for @orders, ['customer:name', 'item:name', 'quantity', 'total_cost'] %>
	</div>
</div>